
Bij een financiële organisatie dat staat voor duurzaamheid, klein, professioneel en  daardoor betrokken bij het algehele ontwikkel proces!

Met plezier biedt BitConnect  jou de functie aan van Java ontwikkelaar. Als Java ontwikkelaar ga je middels de Scrum ontwikkelmethodiek aan de slag binnen een multidisciplinair team.  Je zal nauw samenwerken met andere ontwikkelaars, analisten, testers en de business.  Het gaat om het uitbreiden, aanpassen en optimaliseren van een bestaand bedrijfskritisch financieel systeem. Eén van de belangrijkste kerngebieden hierbij is het internet. Je zal te maken krijgen met backend technologie Java 6 en frameworks als  JSF, Struts en Seam. Ook kan je te maken krijgen frontend technologie(Javascript). Als je dat zou willen natuurlijk. We praten dus over een moderne omgeving waarin je volledig ‘up to date’ kan blijven als Java Specialist!

Zij vragen:
-  Minimaal 3 jaar Java/J2ee ontwikkel ervaring
-	Frameworks kennis als Hibernate, Spring en of Struts
-	Kennis van andere moderne frameworks dan wel frontend kennis kunnen een plus zijn

Het bedrijf waarin je komt te werken is een sterk Nederlands financieel instituut dat goed vertegenwoordigd is in Europa. Dit alles gecoördineerd vanuit hun hoofdkantoor in Utrecht. Je kan je dan ook voorstellen dat je een duidelijk hoofdrol zal spelen in het ontwikkelen van bedrijfskritische applicaties! We praten over een organisatie met in totaal meer dan 700 medewerkers. Ze zijn stabiel, niet te groot en bieden je daardoor veel zekerheid!

Zij bieden:
-	Van 3500 tot 4500 euro bruto per maand
-	Ziektekosten- en Pensioensregeling 
-	Reiskostenvergoeding 
-	E.a. uitstekende secundaire voorwaarden

BitConnect is de connectie tussen ‘the people and the business! We zijn elke dag bezig met het maken  van de juiste match! Connecting People, Connecting You, daar staan wij voor!  
 
Neem direct contact op voor een interview op 0229 508 900 en/of jurandy@bitconnect.nl.
Vraag naar Jurandy Westerhout.

